.datos-card-container{
  background-color: gray;
}

.datos-card-container-titulo--titulo{
 font-family: var(--tipografiaHeader);
 color: aliceblue;
}

.datos-card-container-titulo--descripcion{
  font-family: var(--tipografiaHeader);
color: aliceblue;
}