.cursos-datos-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.cursos-datos-container--subcontainer {
  height: auto;
  width: 90%;
  position: relative;
 background: var(--colorAzulNegro);
  clip-path: polygon(30px 0%, 100% 0, 100% calc(100% - 30px), calc(100% - 30px) 100%, 0 100%, 0% 30px);
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  display: flex;
  flex-direction: column;
}

.cursos-datos-card-container--imagen {
  clip-path: polygon(30px 0%, 100% 0, 100% calc(100% - 30px), calc(100% - 30px) 100%, 0 100%, 0% 30px);
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
}


.cursos-datos-card-container-titulo--titulo {
  color: var(--colorBlanco);
  font-family: var(--tipografiaCards);
  font-size: 35px;
  font-weight: 700;
}

.datos-card-container-titulo--descripcion {
  color: var(--colorBlanco);
  font-family: var(--tipografiaCards);
  font-size: 30px;
  font-weight: 700;
}

@media (min-width: 450px) {
  .cursos-datos-container--subcontainer {
    width: 270px;
  }
}

@media (min-width: 768px) {
  .cursos-datos-container--subcontainer {
    width: 350px;
  }
}

@media (min-width: 1024px) {
  .cursos-datos-container {
    gap: 4em;
  }
}

@media (min-width: 1300px) {
  .cursos-datos-container {
    gap: 6em;
  }
}
