.cursos-datos-container{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}


.cursos-datos-card-container{
  background-color: gray;
}

.cursos-datos-card-container-titulo--titulo{
 font-family: var(--tipografiaHeader);
 color: aliceblue;
}

.cursos-datos-card-container-titulo--descripcion{
  font-family: var(--tipografiaHeader);
color: aliceblue;
}
