/* From uiverse.io by @FrM-bot */
.informacion-container-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.informacion-card {
  width: 80vw;
  height: min-content;
  transition: all .3s;
  position: relative;
  border-radius: .5rem 2rem;
  box-shadow: 0px 15px 20px -5px rgba(0, 0, 0, 0.5);
}

.informacion-card:hover {
  transform: scale(1.03);
}


.informacion-title {
  color: aliceblue;
}

.informacion-container-titulo{
  font-family: var(--tipografiaGeneral);
  font-weight: 800;
  font-size: 30px;
}

.informacion-container-titulo--nombre{
  margin-top: 0.1em;
  font-family: var(--tipografiaGeneral);
  font-size: 20px;
}

.informacion-container-card-nombre{
  font-weight: 700;
}


@media (min-width: 768px) {
  
  .informacion-container-card-nombre{
    font-size: 20px;
  }

  .informacion-container-card-imagen{
    width: 100px !important;
    height: 100px !important;
  }

.informacion-card-container--img-nombre{
  gap: 2em !important;
}
}


@media (min-width: 1024px) {
  
  .informacion-container-card-nombre{
    font-size: 23px;
  }

  .informacion-container-card-imagen{
    width: 120px !important;
    height: 120px !important;
  }

.informacion-card-container--img-nombre{
  gap: 4em !important;
}
}


@media (min-width: 1440px) {
  
  .informacion-container-card-nombre{
    font-size: 25px;
  }

  .informacion-container-card-imagen{
    width: 150px !important;
    height: 150px !important;
  }

.informacion-card-container--img-nombre{
  gap: 9em !important;
}
}