.navbar-button-toggle-content{
  margin-top: 216px;
  width: 140px;
  position: absolute;
  left: -8px;
  z-index: 2;
}

.navbar-container-icon-list-img--desktop{
  display: none;
  cursor: pointer;
}

.navbar-container-icon-list-img--mobile{
  display: block;
  position: absolute;
  left: 35%;
  top: 20%;
  width: 100px;
  height: 40px;
}

.navbar-button-toggle--icon{
  font-size: 25px;
  color: var(--colorLetrasHeader);
   cursor: pointer;
}

.navbar-button-toggle--a{
  font-size: 23px !important;
  color: var(--colorLetrasHeader);
  font-family: var(--tipografiaHeader);
   cursor: pointer;
}

.navbar-container-icon-redes{
  display: none;
}


@media (min-width: 375px) {
  .navbar-container-icon-list-img--mobile{
    left: 36%;
    width: 105px;
    height: 45px;
  }

  .navbar-button-toggle--icon{
    font-size: 27px;
  }
}

@media (min-width: 425px) {
  .navbar-container-icon-list-img--mobile{
    left: 37%;
    width: 110px;
    height: 50px;
  }

  .navbar-button-toggle--icon{
    font-size: 29px;
  }
}


@media (min-width: 768px) {
  .navbar-content-div{
    display: flex !important;
  }


  .navbar-container-icon-list{
    align-items: center !important;
  }



.navbar-container-icon-list-img--mobile{
  display: none;
}

  .navbar-container-icon-list-img--desktop{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 3em;
    width: 150px;
    height: 50px;
  }



  .navbar-content-div--a-desktop{
color: var(--colorLetrasHeader);
font-size: 13px !important;
font-family: var(--tipografiaHeader);
  }

  .navbar-content-div--icon{
    color: var(--colorLetrasHeader);
    font-size: 13px;
  }



  .navbar-container-icon-redes{
    display: flex;
    color: var(--colorLetrasHeader);
    font-size: 13px;
  }


}


@media (min-width: 1024px) {
  .navbar-container-icon-list-img--desktop{
    right: 15%;
    width: 170px;
    height: 60px;
  }

  .navbar-content-div--container{
    gap: 8rem !important;
  }

  .navbar-content-div--a-desktop{
font-size: 20px !important;
  }

  .navbar-content-div--icon{
    font-size: 20px;
  }

  .navbar-container-icon-redes{
    font-size: 20px;
  }

}

@media (min-width: 1336px) {
  .navbar-container-icon-list-img--desktop{
    right: 25%;
    width: 100%;
    height: 70px;
  }

  .navbar-content-div--container{
    gap: 20rem !important;
  }

  .navbar-content-div--a-desktop{
font-size: 25px !important;
  }

  .navbar-content-div--icon{
    font-size: 25px;
  }

.navbar-content-div--redes-desktop{
  gap: 1.5rem !important;
}

  .navbar-container-icon-redes{
    font-size: 25px;
  }
}
