.nabvar-container {
  background-color: var(--colorAzulNegro);
}

.navbar-button-toggle-content {
  width: 220px;
  position: absolute;
  z-index: 1;
}

.navbar-container-icon-list-img--desktop {
  display: none;
  cursor: pointer;
}

.navbar-container-icon-list-img--mobile {
 /*  display: block;
  position: absolute;
  left: 27%;
  top: -45%; */
  width: 150px;
  height: 130px;
}

.navbar-button-toggle {
  border: none !important;
}

.navbar-button-toggle--icon-bars {
  font-size: 25px;
  color: var(--colorBlanco);
  cursor: pointer;
}

.navbar-button-toggle--icon-x {
  font-size: 25px;
  color: var(--colorBlanco);
  cursor: pointer;
  margin-left: 10em;
  z-index: 1;
}

.navbar-button-toggle--a {
  font-size: 23px !important;
  color: var(--colorBlanco);
  font-family: var(--tipografiaHeader);
  cursor: pointer;
}

.navbar-container-icon-redes {
  display: none;
}

@media (min-width: 375px) {
 /*  .navbar-container-icon-list-img--mobile {
    left: 28%;
  }
 */
  .navbar-button-toggle--icon {
    font-size: 27px;
  }
}

@media (min-width: 425px) {
 /*  .navbar-container-icon-list-img--mobile {
    left: 30%;
  } */

  .navbar-button-toggle--icon {
    font-size: 29px;
  }
}

@media (min-width: 768px) {
  .navbar-content-div {
    display: flex !important;
  }

  .navbar-container-icon-list {
    align-items: center !important;
  }

  .navbar-container-icon-list-img--mobile {
    display: none;
  }

  .navbar-container-icon-list-img--desktop {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 3em;
    width: 200px;
    height: 150px;
  }

  .navbar-content-div--a-desktop {
    color: var(--colorBlanco);
    font-size: 13px !important;
    font-family: var(--tipografiaHeader);
  }

  .navbar-content-div--icon {
    color: var(--colorBlanco);
    font-size: 13px;
  }

  .navbar-container-icon-redes {
    display: flex;
    color: var(--colorBlanco);
    font-size: 13px;
  }
}

@media (min-width: 1024px) {
  .navbar-container-icon-list-img--desktop {
   /*  right: 15%; */
    width: 210px;
    height:170px;
  }

  .navbar-content-div--container {
    gap: 8rem !important;
  }

  .navbar-content-div--a-desktop {
    font-size: 20px !important;
  }

  .navbar-content-div--icon {
    font-size: 20px;
  }

  .navbar-container-icon-redes {
    font-size: 20px;
  }
}

@media (min-width: 1336px) {
  .navbar-container-icon-list-img--desktop {
    /* right: 25%; */
    width:220%;
    height: 180px;
  }

  .navbar-content-div--container {
    gap: 20rem !important;
  }

  .navbar-content-div--a-desktop {
    font-size: 25px !important;
  }

  .navbar-content-div--icon {
    font-size: 25px;
  }

  .navbar-content-div--redes-desktop {
    gap: 1.5rem !important;
  }

  .navbar-container-icon-redes {
    font-size: 25px;
  }
}
