.sobremi-container{
 display: flex;
 height: 100%;
align-items: stretch;
  flex-grow: 1;
}



.sobremi-container--img{
  width: 250px;
  height: 250px;
  margin-top: 3em;
}

.sobremi-container--subcontainer--titulo{
font-family: var(--tipografiaHeader);
color: #161516;
}

.sobremi-container--subcontainer--parrafo{
  font-family: var(--tipografiaHeader);
  color: #161516;
}

