.sobremi-container{
  margin-bottom: 2em;
  width: 100%;
}


.sobremi-container-titulo{
  width: 100%;
  height: 80px;
  background-color: var(--colorVerdeCeleste);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2em;
  box-shadow: 10px 10px 5px 0px rgba(16,154,173,0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(16,154,173,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(16,154,173,0.75);
}

.sobremi-container-titulo--titulo{
  font-size: 50px;
  font-weight: 800;
  font-family: var(--tipografiaGeneral);
  color: var(--colorAzulNegro);
}

.sobremi-container--subcontainer{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.sobremi-container--subcontainer--parrafo{
  color: var(--colorAzulNegro);
  font-weight: 700;
  font-family: var(--tipografiaGeneral);
  line-height: 2rem;
  font-size: 20px;
}


@media (min-width: 600px){
  .sobremi-container--subcontainer--parrafo{
    font-size: 25px;
  }
}


@media (min-width: 768px) {
  .sobremi-container--subcontainer--parrafo{
    font-size: 30px;
    line-height: 2.5rem;
  }
}

@media (min-width: 1024px)  {
  .sobremi-container--subcontainer--parrafo{
    font-size: 35px;
  }
}

@media (min-width: 1336px)  {
  .sobremi-container--subcontainer--parrafo{
    font-size: 40px;
    line-height: 3rem;
  }
}
