
.footer-contenedor--div-span{
  color: var(--colorLetrasHeader);
  font-family: var(--tipografiaHeader);
}

.footer-contenedor--ul-li{
  color: var(--colorLetrasHeader);
font-family: var(--tipografiaHeader);
}


