.footer-contenedor{
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--colorAzulNegro);
}


.footer-contenedor--div-span{
  color: var(--colorBlanco);
  font-family: var(--tipografiaHeader);
}

.footer-contenedor-redes-iconos{
  color: var(--colorBlanco);
}
