.proyectos-datos-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.proyectos-datos-card-container--imagen {
  height: 170px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
 clip-path: polygon(30px 0%, 100% 0, 100% calc(100% - 30px), calc(100% - 30px) 100%, 0 100%, 0% 30px);
}

.proyectos-datos-container--subcontainer {
  height: 350px;
  width: 90%;
  padding: 20px;
  position: relative;
 background: var(--colorAzulNegro);
  transition: 1s ease-in-out;
  clip-path: polygon(30px 0%, 100% 0, 100% calc(100% - 30px), calc(100% - 30px) 100%, 0 100%, 0% 30px);
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  display: flex;
  flex-direction: column;
}



.proyectos-datos-card-container--container-boton {
  position: absolute;
  bottom: 8%;
  left: 21%;
}



.proyectos-datos-card-container {
 background-color: var(--colorAzulNegro);
  height: 330px;
}

.proyectos-datos-card-container-titulo--titulo {
  font-family: var(--tipografiaCards);
  color: var(--colorBlanco);
  font-size: 30px;
}

.proyectos-datos-card-container-titulo--descripcion {
  font-family: var(--tipografiaCards);
  color: var(--colorBlanco);
  font-size: 20px;
}

.proyectos-datos-card-container-boton {
  font-family: var(--tipografiaCards);
  color: var(--colorAzulNegro);
  background-color: var(--colorVerdeCeleste);
  font-size: 20px;
}



@media (min-width: 375px) {
  .proyectos-datos-card-container--container-boton {
    bottom: 8%;
    left: 25%;
  }

  .proyectos-datos-card-container--imagen {
    height: 180px;
  }

  .proyectos-datos-container--subcontainer {
    height: 350px;
    width: 300px;
  }
}

@media (min-width: 450px) {
  .proyectos-datos-card-container--container-boton {
    bottom: 8%;
    left: 19%;
  }

  .proyectos-datos-card-container-titulo--titulo {
    font-size: 35px;
  }

  .proyectos-datos-card-container-titulo--descripcion {
    font-size: 22px;
  }

  .proyectos-datos-card-container--imagen {
    height: 190px;
  }

  .proyectos-datos-container--subcontainer {
    height: 370px;
    width: 320px;
  }
}

@media (min-width: 768px) {
  .proyectos-datos-container--subcontainer {
    width: 350px;
    height: 450px;
  }

  .proyectos-datos-card-container {
    height: 430px;
  }

  .proyectos-datos-card-container--imagen {
    height: 200px;
  }

  .proyectos-datos-card-container-titulo--titulo {
    font-size: 45px;
  }

  .proyectos-datos-card-container-titulo--descripcion {
    font-size: 30px;
  }

  .proyectos-datos-card-container-boton {
    font-size: 25px;
  }
}

@media (min-width: 1024px) {
  .proyectos-datos-container--subcontainer {
    width: 350px;
    height: 470px;
  }

  .proyectos-datos-card-container {
    height: 450px;
  }

  .proyectos-datos-container {
    gap: 4em;
  }

  .proyectos-datos-card-container-titulo--titulo {
    font-size: 50px;
  }

    .proyectos-datos-card-container--imagen {
    height: 220px;
  }

}
