.home-container{
  background: #07c4ff;
  margin-bottom: 2em;
  display: flex;
flex-direction: column;
justify-content: center ;
align-items: center ;
}

.home-container-card-presentacion{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-top: 1em;
margin-bottom: 1em;
gap: 3em;
}


.home-card {
  height: 268px;
  border-radius: 25%;
  border: none;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
}

.home-card__content {
  background: rgb(5, 6, 45);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 235px;
  border-radius: 25%;
  border: none;
}

.home-card-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: auto;
  height: auto;
}



.home-card--img{
    width: 180px;
    height: 190px;
}

.home-container-container--parrafo{
color: var(--colorLetrasHeader);
  font-family: var(--tipografiaGeneral);
  text-transform: capitalize;
  font-size: 20px;
}

.home-container-container--titulo{
color: var(--colorLetrasHeader);
  font-family: var(--tipografiaGeneral);
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 700;
}

.home-container-container2--parrafo{
  color: var(--colorLetrasHeader);
  font-family: var(--tipografiaGeneral);
  font-size: 20px;
}

.home-container-container2--subtitulo{
  color: var(--colorLetrasHeader);
  font-family: var(--tipografiaGeneral);
  font-size: 25px;
  font-weight: 700;
}

.home-container-titulo-subtitulo{
  display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}


@media (min-width: 1024px) {
  .home-container-card-presentacion{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 10em;
    gap: 10em;
  }

  .home-container-container--parrafo{
font-size: 30px;
font-weight: 600;
    }

    .home-container-container--titulo{
font-size: 30px;
font-weight: 600;
    }

    .home-container-container2--subtitulo{
font-size: 30px;
font-weight: 600;
    }

}
